<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<link th:href="@{/css/indexstyle.css}" rel="stylesheet"/>
</head>
<body>
<h1>将棋（仮）</h1>

<main id="contents">


<h2>
<table class="entryTable" border="1">
    <caption>会員情報</caption>

    <tr>
      <th>名前:<br>[[${user.id}]] </th>
      <td><a href="/name">変更</a></td>
    </tr>


 </table>
<p><a href="/temporary_registration">会員登録</a></p>
<p><a href="/login">ログイン</a></p>
<p><a href="/sendTestMail">メール</a></p>
<p><a href="/img/ブースター.png"></a></p>
<p><a href="/upload">アップロード</a></p>
</h2>
</main>
</body>
</html>